<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="service" class="com.apple.aspectj框架实现代理.service.impl.SserviceImpl"/>


    <bean id="myAspect" class="com.apple.aspectj框架实现代理.aspect.MyAspect"/>



<!--    目标类有接口，默认用jdk动态proxy-->
<!--    目标类没有接口，默认用cglib动态代理-->
    <aop:aspectj-autoproxy/>

<!--    目标类没有接口，也想使用cglib，就使用下面一句-->
<!--    <aop:aspectj-autoproxy proxy-target-class="true"/>-->
</beans>